body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section.productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

article.producto {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 250px;
}

article.producto .producto-info {
    display: flex;
    flex-direction: column;
}

article.producto img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
}

#carrito {
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ddd;
    margin-top: 20px;
}

#carrito h2 {
    color: #333;
}

#lista-carrito {
    list-style: none;
    padding: 0;
}

#lista-carrito li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

#total-carrito {
    font-weight: bold;
    margin-top: 10px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
